@attribute [Authorize]
@page "/Arrangements/List"
@using Seminar.Data
@using Seminar.Models
@inject NavigationManager uriHelper

@using System.Threading
@inject ApplicationDbContext DbContext

<h2>Popis aranžmana</h2>
<a href="/arrangements/insert" class="linkbutton">Dodaj</a>

<br />
<br />
<table border="1" cellpadding="10">
    <tr>
        <th>Id</th>
        <th>Ime</th>
        <th>Tip</th>
        <th>Kolićina</th>
        <th>Umjetan</th>
        <th>Opis</th>
        <th>Cijena(€)</th>
        <th>PDV(€)</th>
        <th>Cijena + PDV(€)</th>
        <th colspan="2">Akcije</th>
    </tr>
    @foreach (var item in Arrangements)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Type</td>
            <td>@item.Quantity</td>
            <td>@item.Arificial</td>
            <td>@item.Description</td>
            <td>@item.Price.ToString("n2")€</td>
            <td>@calculateTax(@item.Price)€</td>
            <td>@calculateTaxedPrice(@item.Price)€</td>
            <td>
                <a href="/arrangements/update/@item.Id" class="linkbutton">Izmijeni</a>
            </td>
            <td>
                <a href="/arrangements/delete/@item.Id" class="linkbutton">Obriši</a>
            </td>
        </tr>
    }
</table>




@code {
    List<FlowerArrangement> Arrangements;

    protected override void OnInitialized()
    {
        Arrangements = DbContext.FlowerArrangements.ToList();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var timer = new Timer(new TimerCallback(_ =>
            {
                uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
            }), null, 5000, Timeout.Infinite);
        }
    }

    private String calculateTax(float price)
    {
        float total = price * 0.25f;
        return total.ToString("n2");
    }
    private String calculateTaxedPrice(float price)
    {
        float total = price * 1.25f; 
         return total.ToString("n2");
    }
}
