@attribute [Authorize]
@page "/Decorations/Update/{DecorationID:int}"
@using Seminar.Data
@using Seminar.Enums
@using Seminar.Models
@inject ApplicationDbContext DbContext

<h2>Ažuriranje dekoracije</h2>
<h3 class="message">@Message</h3>

<EditForm Model="DecorationModel" OnValidSubmit="OnSaveClick">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <table border="0" cellpadding="10">
        <tr>
            <td class="right">
                <label for="Name">Ime</label>
            </td>
            <td>
                <InputText id="Name" @bind-Value="DecorationModel.Name"></InputText>
                <ValidationMessage For="(() => DecorationModel.Name)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="Type">Tip</label>
            </td>
            <td>
                <InputSelect id="Type" @bind-Value="DecorationModel.Type">
                    @foreach (var type in Enum.GetValues(typeof(DecotrationTypes)))
                    {
                        <option value="@type">@type</option>
                    }
                </InputSelect>
                <ValidationMessage For="(() => DecorationModel.Type)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="Color">Boja</label>
            </td>
            <td>
                <InputSelect id="Color" @bind-Value="DecorationModel.Color">
                    @foreach (var color in Enum.GetValues(typeof(Colors)))
                    {
                        <option value="@color">@color</option>
                    }
                </InputSelect>
                <ValidationMessage For="(() => DecorationModel.Color)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="Quantity">Kolićina</label>
            </td>
            <td>
                <InputNumber id="Quantity" @bind-Value="DecorationModel.Quantity"></InputNumber>
                <ValidationMessage For="(() => DecorationModel.Quantity)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="PackageSize">Kolićina u paketu</label>
            </td>
            <td>
                <InputNumber id="PackageSize" @bind-Value="DecorationModel.PackageSize"></InputNumber>
                <ValidationMessage For="(() => DecorationModel.PackageSize)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="Material">Materijal</label>
            </td>
            <td>
                <InputSelect id="Material" @bind-Value="DecorationModel.Material">
                    @foreach (var material in Enum.GetValues(typeof(Materials)))
                    {
                        <option value="@material">@material</option>
                    }
                </InputSelect>
                <ValidationMessage For="(() => DecorationModel.Material)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="Description">Opis</label>
            </td>
            <td>
                <InputTextArea id="Description" @bind-Value="DecorationModel.Description"></InputTextArea>
                <ValidationMessage For="(() => DecorationModel.Description)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="Price">Cijena</label>
            </td>
            <td>
                <InputNumber id="Price" @bind-Value="DecorationModel.Price"></InputNumber>
                <ValidationMessage For="(() => DecorationModel.Price)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" class="btn btn-success">Spremi</button></td>
        </tr>
    </table>
</EditForm>

<br />
<br />
<a href="/decorations/list">Natrag na listu biljaka</a>


@code {
    [Parameter]
    public int DecorationID { get; set; }

    Decoration DecorationModel { get; set; }
    string Message { get; set; }

    protected override void OnInitialized()
    {
        DecorationModel = DbContext.Decorations.Find(DecorationID);
    }

    private void OnSaveClick()
    {
        DbContext.Decorations.Update(DecorationModel);
        DbContext.SaveChanges();
        Message = "Dekoracija uspješno ažurirana";
    }
}